body{
    background: url(https://wallpapercave.com/wp/wp10261833.jpg) top / cover;
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
}
.box{
    @include absmiddle;
    width: 500px;
    text-align: center;
    border: 3mm ridge navy;
    border-radius: 15px;
    background-color: darkslateblue;
}
input, button{
    border-radius: 5px;
    border: 2px solid navy;
}
button{
    margin: 15px 0;
}
.ready{
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.game{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    width: 100vw;
    height: 100vh;
    background-color: darkslateblue;
    border: 3mm ridge navy;
    flex-direction: column;
    justify-content: center;
}
.game-box{
    @include absmiddle;
}
.active{
    transform: translateY(0);
    transition: .5s ease-in-out;
}
.close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
span{
    color: pink;
}